
@font-face {
   font-family: fonteLogo;
   src: url(../fonts/alexisv3.ttf);
 }


@font-face {
   font-family: fonteKuture;
   src: url(../fonts/ALBAS___.TTF);
 }

/*
//
Códigos gerais
//
*/
body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }

/*Classe padrão do Bootstrap para Divs*/
.container-fluid {
      padding: 60px 50px;
  }

/*Títulos*/
h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

  .fundo_cinza {
      background-color: #f6f6f6;
  }

  /*Efeito deslizante nos itens da página com a classe esconderSlide
  com JavaScript quando desliza a página ai muda para a classe .slide*/
  .esconderParaDeslizar {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .icone-maior {
        font-size: 150px;
    }
    
  }

/*
Fim dos Códigos gerais
*/

/*
//
Topo da Página
//
*/


img#logo_menu{
  margin-top: -5px;
  max-width: 100px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
  /*Menu de navegação*/

.navbar-brand{
 font-family: 'fonteLogo'; 
}


  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #000 !important;
      background-color: #E76900 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }


  .dropdown-menu li a {
      color: #000 !important;
  }
 

  .dropdown-menu li a:hover {
      background-color: #E76900 !important;
  }


  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

/*
Fim do Menu
*/
#modalLogin{
  z-index: 99999;
  
}

.divImgModal{
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#imgModal{
  max-width: 180px;
}

.modal-dialog{
  max-width: 500px;
  margin-top: 20px;
}

.modal-header, h4#modalTitulo, .close {
      background-color: #424542; /*213073 / 5D6563*/
      color:white !important;
      text-align: center;
      font-size: 25px;
}

.modal-footer {
  background-color: #f9f9f9;
}

h4#modalTitulo{
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
//
Carousel Inicial
//
*/

.carousel-inner img {
  /*
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white
  */
  width: 100%;
  margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-left{
  color: #E76900;
}.glyphicon-chevron-right{
  color: #E76900;
}.glyphicon-chevron-up{
  color: #E76900!important;
}

/*
//
Seção SOBRE
//
*/



/*
Fim da Seção SOBRE
*/


  .icone-maior {
      color: #E76900;
      font-size: 200px;
  }

  .icone-medio {
      color: #E76900;
      font-size: 100px;
  }

  

  .icone-menor {
      color: #00A3FF;
      font-size: 50px;
  }

  .recifeBack img{
    width: 100%;
  }
  div.recifeBack{
    padding: 0px;
  }

div.iconeCentralizado{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}


/*
//
Seção Rodapé
//
*/

footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #20C4A4;
  }


img#logoFooter{
  max-width: 200px;
}

/*
Fim da Seção Rodapé
*/
  





.recuo{
  text-indent:4em;
}

span.glyphicon-ok{
  color: #4AAE52;
}

div#divGif{
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*
//
Página de cadastro
//
*/

  .containerCadastro{
    margin-top: 100px;
    max-width: 800px;
  }
  .panel {
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
 .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  

   .panelCadastro{
    border: 1px solid #424542;
  }

  .panelCadastroHeading{
     background-color: #424542 !important;
     color: #fff!important;
  }
  .iconCadasto{
   color: #fff!important; 
  }#cadastroTitulo{
    color: #fff!important; 
  }

  #formCadastro .btn {
      margin: 15px 0;
      background-color: #E76900;
      color: #fff;
  }

  #formCadastro .btn:hover {
      border: 1px solid #E76900;
      background-color: #fff !important;
      color: #E76900;
  }



  #formCadastro{
    max-width: 600px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .imgHand{
    width: 100%;
  }

  .divImgHand{
    padding: 0px;
  }

  .divGifCadastro{
    margin-top: 40px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #gifCadastro{
    max-width: 150px;
  }


  /*
  System
  */

  .jumbIndex {
  background-color: #2E2F31;
  color: #fff;
  padding-top: 59px;
  font-family: Montserrat, sans-serif;
}



p#textoLogo{
  font-family: 'fonteKuture'; 
  margin: 0px !important;
  font-size: 25px;
  color: #E76900;
}

img#logo_maior{
  max-width: 200px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0,5s;
}

.tituloshows{
  cursor: pointer;
  background-color: #E76900!important; /*4682B4*/
  color: #fff!important;
  /*border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;*/
}

.panel-shows {
  border-radius:5px !important;
  transition: box-shadow 0.5s;
  border-color: #E76900;
  margin-bottom: 10px!important;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.panel-shows:hover {
  box-shadow: 5px 0px 40px #696969;
}

.titulofestivais{
  cursor: pointer;
  background-color: #E76900!important; /*4682B4*/
  color: #fff!important;
  /*border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;*/
}

.panel-festivais {
  border-radius:5px !important;
  transition: box-shadow 0.5s;
  border-color: #E76900;
  margin-bottom: 10px!important;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.panel-festivais:hover {
  box-shadow: 5px 0px 40px #696969;
}
#formCadastroShow{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#formCadastroFest{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.estilo_show{
  max-width: 200px!important;
}

#myModalVer{
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#myModalVer .modal-header{
  background-color: #E76900;
}

#ModalAtualizarImg{
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#ModalAtualizarImg .modal-header{
  background-color: #E76900;
}

.containerViewShows{
  max-width: 800px;
  margin-top: 0px;
}

.panelViewShowHeading{
  background-color: #2E2F31!important;
  color: #fff!important;

}

.jumbIndexShows{
  background-color: #2E2F31;
  color: #fff;
  padding-top: 59px;
  font-family: Montserrat, sans-serif;
}

p#textoLogo{
  font-family: 'fonteKuture'; 
  margin: 0px !important;
  font-size: 25px;
  color: #E76900;
}